@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Righteous&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth !important;
  font-size: 10px;
}

h2 {
  font-family: 'Righteous', sans-serif;
  font-size: 30px;
  text-align: center;
}

p {
  font-size: 18px;
  line-height: 30px;
  margin: 20px auto;
}

a {
  text-decoration: none;
  color: #fff;
}

/* CABECERA NAVEGACIÓN */

.contenedor-header {
  background-color: #1e2326;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

.contenedor-header header {
  margin: auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

header .logo a {
  font-family: 'Righteous', sans-serif;
  text-decoration: none;
  font-size: 32px;
  color: #1cb698;
}

#nav ul {
  display: flex;
  list-style: none;
}

#nav ul li a {
  font-size: 16px;
  margin: 0 15px;
  color: #fff;
  padding: 3px;
  text-decoration: none;
  transition: 0.5s;
}

#nav ul li a:hover {
  color: #1cb698;
}

.nav-responsive {
  color: #1cb698;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  font-size: 20px;
}

/* INICIO */
.inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2a2d2e;
  height: 80vh;
  color: #fff;
}

.inicio .baner {
  background-color: rgba(30, 35, 38, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.contenedor-img {
  padding: 20px;
}

.contenedor-img img {
  background-color: #1cb698;
  border-radius: 100%;
  padding: 5px;
}

.contenido-baner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.contenido-baner h1 {
  font-size: 40px;
  font-family: 'Righteous', sans-serif;
}

.redes {
  margin-bottom: 10px;
}
.email a {
  font-size: 16px;
}
.email a:hover {
  color: #1cb698;
  transform: scale(1.5);
  transition: 0.5s;
  margin: 0;
}
/** Movin Letters */

.ml1 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 25px;
  font-family: 'Righteous', sans-serif;
}

.ml1 .letter {
  display: inline-block;
  line-height: 35px;
}

.contenido-baner .redes a {
  font-size: 30px;
  color: #fff;
  margin: 50px 5px;
  transition: 0.5s;
}

/* SOBRE MI */
.sobre-mi {
  background-color: #1e2326;
  color: #fff;
  padding: 20px;
  padding-top: 80px;
}

.contenido-seccion {
  width: 80%;
  margin: 0 auto;
}

.sobre-mi button {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  border: 2px solid #fff;
}

.sobre-mi button:hover {
  border: 2px solid #1cb698;
  background: rgba(28, 182, 152, 0.7);
  transition: 1s;
}

.sobre-mi p {
  text-align: justify;
}

/* SKILLS */
.skills {
  background-color: #1e2326;
  color: #fff;
  padding: 20px;
  padding-top: 80px;
}

.contenedor-skills {
  padding-top: 30px;
  text-align: center;
}

.contenedor-skills img {
  max-width: 50px;
  height: auto;
  margin: 15px;
}

/* EXPERCIENCIA */
.experiencia {
  background-color: #1e2326;
  color: #fff;
  padding: 20px;
  padding-top: 80px;
}

/* PROYECTOS */
.proyectos {
  background-color: #1e2326;
  color: #fff;
  padding: 20px;
  padding-top: 80px;
}

.contenedor-proyectos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.proyectos .contenido-seccion {
  width: 100%;
}

.proyecto {
  position: relative;
  width: 400px;
  max-width: 80%;
  height: auto;
  margin: 20px;
}

.proyecto img {
  width: 100%;
  height: 100%;
  display: block;
  border: 1px solid #1cb698;
}

.tecnologias img {
  border: none;
}

.proyecto .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay-texto {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay-texto h3 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.overlay-texto .tecnologias {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-wrap: nowrap;
  gap: 5px;
}

.overlay-texto .enlaces {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.enlaces a {
  font-size: 30px;
}

.proyecto:hover .overlay {
  opacity: 1;
}

/* CONTACTO */
.contacto {
  background-color: #1e2326;
  color: #fff;
  padding: 20px;
  padding-top: 80px;
  padding-bottom: 150px;
}

.contacto .redes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 40px;
  padding-top: 30px;
}

a {
  transition: 0.5s;
}

.enlaces a:hover,
.redes a:hover {
  color: #1cb698;
  transform: scale(1.2);
  transition: 0.5s;
}

/* FOOTER */
footer {
  background-color: #252a2e;
  color: #fff;
  padding: 50px 0 30px 0;
  text-align: center;
  position: relative;
  width: 100%;
}

footer .arriba {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #1cb698;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -25px;
  border-radius: 50%;
  line-height: 50px;
  font-size: 18px;
}

/* RESPONSIVE */
@media (max-width: 770px) {
  nav {
    display: none;
  }

  .nav-responsive {
    display: block;
  }

  nav.responsive {
    display: block;
    position: absolute;
    right: 0;
    top: 75px;
    background-color: #2a2d2e;
    width: 180px;
  }

  nav.responsive ul {
    display: block !important;
  }

  nav.responsive ul li {
    border-bottom: 1px solid #fff;
    padding: 10px;
  }
}

@media (min-width: 770px) {
  .contenedor-proyectos {
    margin-top: 20px;
    flex-direction: row;
  }

  .inicio .baner {
    flex-direction: row;
  }
}
